<div class="container">
    <fieldset>
        <form action="/" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Enter a City">
            <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <p>{{weather}}</p>
        <p>{{error}}</p>
    </fieldset>
</div>